
.ashu input[type="submit"]:hover{
  cursor:pointer;
  background:#ffc107;
  color:#000;
}
img.image:hover,
img.image:focus {
  width:99%;
  transition: 0.1s;
  cursor:pointer;
}

.grid
{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  grid-gap: 20px;
  align-items: center;
  margin: 20px;
}

.grid article
{
  border: 4px solid black;
  box-shadow: 2px 2px 8px 5px rgb(235,158,52);
  border-radius: 15px;
}
.grid article img
{
  max-width: 100%;
  border-radius: 13px;
}
.grid article .text
{
  padding: 0 0 0 20px;
  font-family: 'kelem',cursive;
  font-size:20px;
  margin-bottom: -10px;
  margin-top: -10px ;
}
.ashu
{
  display: inline;
}
html
{
  scroll-behavior: smooth;
}
*
{
  padding: 0; margin: 0;
}
div
{
  display: inline;
}
form
{
  background: transparent;
}
section
{
  margin-top: 100px;
}
 a, a:hover, a:focus, a:active
 {
      text-decoration: none;
      color: inherit;
 }
.link
{
  color: #eb9e34;
  font-family: 'Dancing Script', cursive;
  font-size:25px;
}
.link1
{
  color: #eb9e34;
  font-family: 'Dancing Script', cursive;
  font-size:15px;
}
.img
{
width:90%;
padding: 0;
margin: 0;
vertical-align:top;
}
.navbar
{
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand
{
  margin-top: 10px;
  color: black;
}
.navbar-default .navbar-brand:hover
{
  /*color: #black;*/
  border: 1px solid #C57ED3;
}
.navbar-default .navbar-nav > li > a
{
  color: black;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}
.navbar-default .navbar-nav > li > a:visited
{
  color: #C57ED3;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #C57ED3;
}
.navbar-default .navbar-toggle {
  border-color: #C57ED3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
  background-color: #490D40;
}
.navbar-default .navbar-toggle .icon-bar
{
  color: #C57ED3;
  background-color: #C57ED3;
}
.navbar-default .navbar-collapse.collapse.in ul
{
  background-color: #490D40;
}

/* Solid class attached on scroll past first section */
.navbar.solid
{
  background-color: #490D40;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand
{
  color: #C57ED3;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a
{
  color: #C57ED3;
  transition: color 1s ease 0s;
}

.about
{
  background-color: #C57ED3;
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}
.about h2
{
  padding-top: 220px;
}
.about p
{
  padding: 20px 80px;
}
@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto);
*, *:after, *:before {
  box-sizing: border-box;
}
h1 {
    margin-top: 0 ;
    margin-bottom: 0;
}

body {

  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.panda {
  position: relative;
  width: 200px;
  margin: 50px auto;
}
.a
{

  margin:0px;
}

.body {
  background: #fff;
  position: absolute;
  top: 200px;
  left: -20px;
  border-radius: 100px 100px 100px 100px/126px 126px 96px 96px;
  width: 250px;
  height: 282px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


h1 {
  color: #FF4081;
  font-family: 'Dancing Script', cursive;
}


