<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link th:rel="stylesheet" th:href="@{/css/signup_style.css}">
    <title> 𝐈𝐦𝐚𝐠𝐞 𝐇𝐨𝐬𝐭𝐞𝐫 </title>
    <link rel="shortcut icon" th:href="@{/image/icon.png}">
</head>
<main>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/}"><div><img th:src="@{/image/pic3.png}" class="img"></div></a>

            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/users/login}"><span>Login</span> &ensp;&ensp;</a></li>
                </ul>
            </div>
        </div>
    </nav>
</main>
<body th:style="'background-image:url(' + @{/image/im.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<section>
    <div class="panda">
        <div class="ear"></div>
        <div class="face">
            <div class="eye-shade"></div>
            <div class="eye-white">
                <div class="eye-ball"></div>
            </div>
            <div class="eye-shade rgt"></div>
            <div class="eye-white rgt">
                <div class="eye-ball"></div>
            </div>
            <div class="nose"></div>
            <div class="mouth"></div>
        </div>
        <div class="body"> </div>
        <div class="foot">
            <div class="finger"></div>
        </div>
        <div class="foot rgt">
            <div class="finger"></div>
        </div>
    </div>
    <form id="form"  method="post" th:object="${user}" th:action="@{/signup}" >
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <h1>SignUp</h1>
        <div class="form-group">

            <input type="text" id="username" required="required"name="username" class="form-control" th:field="${user.username}" minlength="3" autocomplete="off" />
            <label class="form-label" style="font-weight:normal">Username:   </label>
        </div>


        <div class="form-group">
            <input type="text" id="fullName"  required="required" class="form-control"name="fullName" th:field="${user.userProfile.fullName}"  minlength="3" autocomplete="off"/>
            <label class="form-label" style="font-weight:normal">Full Name:    </label>

        </div>

        <div class="form-group">
            <input type="text" id="email" required="required" class="form-control"  name="Email" th:field="${user.userProfile.email}" autocomplete="off"  />
            <label class="form-label" style="font-weight:normal">Email: </label>
        </div>

        <div class="form-group">

            <input  id="number" type="tel" required="required" class="form-control" name="number" th:field="${user.userProfile.mobileNumber}" pattern="^\d{10}$" autocomplete="off"  />
            <label class="form-label" style="font-weight:normal">Mobile No:  </label>
        </div>
        <div class="form-group">
            <input id="password" type="password"  class="form-control" required="required" name="password" th:field="${user.password}" autocomplete="off" />
            <label class="form-label" style="font-weight:normal">Password</label>
        </div>
        <p class="alert" id="che"></p>
        <button class="btn">Signup </button>

    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script th:src="@{/js/signup_script.js}"></script>
</section>
</body>
</html>
